<div>
  <div>This value was originally saved at node:</div>
  <div class="mt-[5px]" [ngClass]="{ current: content.isCurrentProduct }">
    <div class="flex gap-x-1">
      <div
        class="hierarchy-path-acronym text-primary-500 text-[11px] text-center border border-solid border-primary-500 rounded-sm w-[47px] h-[18px] inline-bock mr-[4px] indent-0 relative"
      >
        Main
      </div>
      <div *ngIf="content.isCurrentProduct">Current</div>
      <div *ngIf="!content.isCurrentProduct">
        <span
          class="path-breadcrumb inline ml-0 font-bold after:content-['\00bb'] after:px-[5px] after:text-primary-contrast-300 after:text-sm after:leading-3 after:font-normal last-of-type:text-primary-500 last-of-type:after:content-['']"
          *ngFor="let node of content.inheritedFromProduct.nodes"
          >{{ node }}</span
        >
      </div>
    </div>
  </div>

  <div class="mt-[5px]" [ngClass]="{ current: content.isCurrentMaterial }">
    <div class="flex gap-x-1">
      <div
        class="hierarchy-path-acronym hierarchy-path-acronym text-primary-500 text-[11px] text-center border border-solid border-primary-500 rounded-sm w-[47px] h-[18px] inline-bock mr-[4px] indent-0 relative"
      >
        Material
      </div>
      <div *ngIf="content.isCurrentMaterial && !content.isRootMaterial">
        Current
      </div>
      <div class="font-bold text-primary-500" *ngIf="content.isRootMaterial">
        All
      </div>
      <div *ngIf="!(content.isCurrentMaterial || content.isRootMaterial)">
        <span class="path-breadcrumb inline ml-0 font-bold">{{
          content.inheritedFromMaterial.pathString
        }}</span>
      </div>
    </div>
  </div>
</div>
