:root {
    --primary-50: #e7eff6;
    --primary-100: #c2d7e9;
    --primary-200: #99bddb;
    --primary-300: #70a2cd;
    --primary-400: #528ec2;
    --primary-500: #337ab7;
    --primary-600: #2e72b0;
    --primary-700: #2767a7;
    --primary-800: #205d9f;
    --primary-900: #144a90;
    --primary-A100: #c4dcff;
    --primary-A200: #91bdff;
    --primary-A400: #5e9eff;
    --primary-A700: #458fff;
    --primary-A800: #7cc7f8;

    --primary-contrast-50: #000000;
    --primary-contrast-100: #000000;
    --primary-contrast-200: #000000;
    --primary-contrast-300: #555;
    --primary-contrast-400: #333;
    --primary-contrast-500: #ffffff;
    --primary-contrast-600: #ffffff;
    --primary-contrast-700: #ffffff;
    --primary-contrast-800: #ffffff;
    --primary-contrast-900: #ddd;
    --primary-contrast-A100: #000000;
    --primary-contrast-A200: #000000;
    --primary-contrast-A400: #000000;
    --primary-contrast-A700: #000000;

    --accent-50: #f2e5ef;
    --accent-100: #dfbfd7;
    --accent-200: #ca94bc;
    --accent-300: #b469a1;
    --accent-400: #a4488c;
    --accent-500: #942878;
    --accent-600: #8c2470;
    --accent-700: #811e65;
    --accent-800: #77185b;
    --accent-900: #650f48;
    --accent-A100: #ff9ada;
    --accent-A200: #ff67c7;
    --accent-A400: #ff34b4;
    --accent-A700: #ff1aab;
    --accent-B100: #8a6d3b;
    --accent: #942878;

    --accent-constrast-50: #000000;
    --accent-constrast-100: #000000;
    --accent-constrast-200: #000000;
    --accent-constrast-300: #000000;
    --accent-constrast-400: #ffffff;
    --accent-constrast-500: #ffffff;
    --accent-constrast-600: #ffffff;
    --accent-constrast-700: #ffffff;
    --accent-constrast-800: #ffffff;
    --accent-constrast-900: #ffffff;
    --accent-constrast-A100: #000000;
    --accent-constrast-A150: #fdf6d9;
    --accent-constrast-A200: #000000;
    --accent-constrast-A400: #ffffff;
    --accent-constrast-A700: #ffffff;

    --accent-constrast: #ffffff;

    --tertiary-50: #e7f4fc;
    --tertiary-100: #c4e3f6;
    --tertiary-200: #9cd0f1;
    --tertiary-300: #74bdeb;
    --tertiary-400: #57afe6;
    --tertiary-500: #39a1e2;
    --tertiary-600: #3399df;
    --tertiary-700: #2c8fda;
    --tertiary-800: #2485d6;
    --tertiary-900: #1774cf;
    --tertiary-A100: #ffffff;
    --tertiary-A200: #d9edf7;
    --tertiary-A400: #9bcaff;
    --tertiary-A700: #81bdff;
    --tertiary: #39a1e2;

    --tertiary-contrast-50: #000000;
    --tertiary-contrast-100: #000000;
    --tertiary-contrast-200: #000000;
    --tertiary-contrast-300: #000000;
    --tertiary-contrast-400: #000000;
    --tertiary-contrast-500: #000000;
    --tertiary-contrast-600: #000000;
    --tertiary-contrast-700: #ffffff;
    --tertiary-contrast-800: #ffffff;
    --tertiary-contrast-900: #ffffff;
    --tertiary-contrast-A100: #000000;
    --tertiary-contrast-A200: #000000;
    --tertiary-contrast-A400: #000000;
    --tertiary-contrast-A700: #000000;

    --tertiary-contrast: #000000;

    --neutral-50: #fdfdfd;
    --neutral-100: #fafafa;
    --neutral-200: #f7f7f7;
    --neutral-300: #f3f3f3;
    --neutral-400: #f1f1f1;
    --neutral-500: #eeeeee;
    --neutral-600: #ececec;
    --neutral-700: #d3d3d3;
    --neutral-800: #ccc;
    --neutral-900: #adadad;
    --neutral-A100: #ffffff;
    --neutral-A200: #ffffff;
    --neutral-A400: #ffffff;
    --neutral-A700: #ffffff;
    --neutral: #eeeeee;

    --neutral-contrast-50: #000000;
    --neutral-contrast-100: #000000;
    --neutral-contrast-200: #000000;
    --neutral-contrast-300: #000000;
    --neutral-contrast-400: #000000;
    --neutral-contrast-500: #000000;
    --neutral-contrast-600: #000000;
    --neutral-contrast-700: #000000;
    --neutral-contrast-800: #000000;
    --neutral-contrast-900: #000000;
    --neutral-contrast-A100: #000000;
    --neutral-contrast-A200: #000000;
    --neutral-contrast-A400: #000000;
    --neutral-contrast-A700: #000000;
    --neutral-contrast: #000000;

    --warn: #ff4d4d;
    --warn-50 : #ffeaea;
    --warn-100 : #ffcaca;
    --warn-200 : #ffa6a6;
    --warn-300 : #ff8282;
    --warn-400 : #ff6868;
    --warn-500 : #ff4d4d;
    --warn-600 : #ff4646;
    --warn-700 : #ff3d3d;
    --warn-800 : #ff3434;
    --warn-900 : #ff2525;
    --warn-A100 : #ffffff;
    --warn-A200 : #ffffff;
    --warn-A400 : #ffd3d3;
    --warn-A700 : #ffb9b9;
    --warn-contrast : #ffffff;
    --warn-contrast-50 : #000000;
    --warn-contrast-100 : #000000;
    --warn-contrast-200 : #000000;
    --warn-contrast-300 : #000000;
    --warn-contrast-400 : #000000;
    --warn-contrast-500 : #000000;
    --warn-contrast-600 : #ffffff;
    --warn-contrast-700 : #ffffff;
    --warn-contrast-800 : #ffffff;
    --warn-contrast-900 : #ffffff;
    --warn-contrast-A100 : #000000;
    --warn-contrast-A200 : #000000;
    --warn-contrast-A400 : #000000;
    --warn-contrast-A700 : #000000;

    --cdm-green: #93dac3;
    --cdm-yellow: #ffea3d;
}
